/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 01 - RESET STYLES */
/*-------------------------------------------------------------------------------------------------------------------------------*/
html {
    overflow-y: scroll;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

body * {
    -webkit-text-size-adjust: none;
    outline: none;
}

.clear {
    clear: both;
    overflow: hidden;
    height: 0px;
    font-size: 0px;
    display: block;
}

input:focus, select:focus, textarea:focus, button:focus {
    outline: none;
}

input, textarea, select {
    font-weight: 400;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    background: none;
    border: none;
    margin: 0;
    width: 100%;
    font-family: 'Open Sans';
}

textarea {
    display: block;
    resize: none;
    overflow: auto;
}

select::-ms-expand {
    display: none;
}

input[type="submit"], input[type="file"] {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    border: none;
    cursor: pointer;
    z-index: 1;
}

a, a:link, a:visited, a:active, a:hover {
    cursor: pointer;
    text-decoration: none;
    outline: none;
}

b, strong {
    font-weight: 700;
}

ul, ol {
    list-style: none;
}

a {
    color: inherit;
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 02 - GLOBAL SETTINGS */
/*-------------------------------------------------------------------------------------------------------------------------------*/

body {
    font-family: 'Maven Pro', sans-serif;
    font-size: 14px;
    line-height: 1;
    font-weight: 400;
    color: #333;
}

/*------- simple-text --------*/

.simple-text {
    font-size: 14px;
    line-height: 20px;
    color: #7a7a7a;
}
.simple-text .big {
    font-size: 18px;
    line-height: 22px;
}

.simple-text > * {
    margin-bottom: 20px;
}

.simple-text > *:last-child {
    margin-bottom: 0;
}

.simple-text.light .h1,
.simple-text.light .h2,
.simple-text.light .h3,
.simple-text.light .h4,
.simple-text.light .h5,
.simple-text.light .h6,
.simple-text.light,
.light {
    color: #fff;
}

.simple-text h1, .h1,
.simple-text h2, .h2,
.simple-text h3, .h3,
.simple-text h4, .h4,
.simple-text h5, .h5,
.simple-text h6, .h6 {
    text-transform: uppercase;
    font-family: 'Hind', sans-serif;
    color: #424242;
}

.simple-text .h1, .simple-text h1 {
    font-size: 72px;
    line-height: 72px;
}

.simple-text .h2, .simple-text h2 {
    font-size: 40px;
    line-height: 48px;
}

.simple-text .h3, .simple-text h3 {
    font-size: 30px;
    line-height: 36px;
}

.simple-text .h4, .simple-text h4 {
    font-size: 28px;
    line-height: 32px;
}

.simple-text .h5, .simple-text h5 {
    font-size: 18px;
    line-height: 20px;
}

.simple-text .h6, .simple-text h6 {
    font-size: 14px;
    line-height: 20px;
}

.simple-text .lighter {
    color: #7a7a7a;
}

.text-center {
    text-align: center;
}

.button {
    border: 2px solid #669B00;
    min-width: 110px;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    padding: 15px 45px;
    color: #669B00;
    border-radius: 20px;
    transition: all 0.15s ease-in-out;
}

.button:hover {
    background-color: #669B00;
    color: #fff;
}

.button.filled {
    background-color: #669B00;
    color: #fff;
}

.button.filled:hover {
    background-color: transparent;
}

.flex-end {
    display: -webkit-flex;
    display: flex;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
}

.flex_center {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}

/*----HEADER----*/
.header {
    height: 110px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background: #fff;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
    backface-visibility: hidden;
    padding: 20px 0;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.header.scrolled {
    height: 90px;
    padding: 10px 0;
}

.header .button {
    margin-top: 10px;
}

.nav-list {
    display: inline-block;
    padding-top: 10px;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}

.nav-list li {
    display: inline-block;
}

.nav-list a {
    display: block;
    padding: 15px;
    transition: all 0.15s ease-in-out;
}

.nav-list a:hover,
.nav-list a.active {
    color: #669B00;
}

/*---welcome screen-----*/

.tt-bg {
    display: table-cell;
    position: relative;
    width: 99999px;
    height: calc(100vh - 110px);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    text-align: center;
    vertical-align: middle;
}

.welcome-text {
    border: 1px solid #fff;
    margin-bottom: 50px;
}

.welcome-text .h1 {
    padding: 20px 10px;
    text-transform: none;
    margin-bottom: 0;
}

.welcome-text .h3 {
    border-top: 1px solid #fff;
    padding: 10px;
}

/*-----main content-----*/

/*---about us----*/

.aboutPic_block {
    position: relative;
    padding-bottom: 100%;
}

.aboutPic_Iteams {
    -webkit-background-size: cover;
    background-size: cover;
    position: absolute;
    width: 50%;
    height: 50%;
}

.aboutPic_Iteams:first-child {
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 5;
}

.aboutPic_Iteams:nth-child(2) {
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 4;
    width: 45%;
    height: 70%;
    margin-left: 30px;
}

.aboutPic_Iteams:nth-child(3) {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0;
    z-index: 3;
    width: 30%;
    height: 60%;
    margin-top: 50px;
}

.aboutPic_Iteams:nth-child(4) {
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-left: 25px;
}

.simple-text .section-title {
    font-size: 22px;
    letter-spacing: 22px;
    text-transform: lowercase;
    line-height: 1;
    color: #669B00;
}

.about-list li{
    margin-bottom: 20px;
}

.about-list li i {
    padding: 0 10px;
    color: #659B00;
}

.about-list li:last-child {
    margin-bottom: 0;
}

/*---pages grid---*/

.btn_isotop {
    text-transform: uppercase;
    font-size: 14px;
    background-color: transparent;
    border: none;
    color: #7a7a7a;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    padding: 20px;
}


.btn_isotop:hover,
.btn_isotop.is-checked {
    color: #669B00;
}

/*----presentation item----*/

.box-shadow-wrapper {
    box-shadow: 1px 1px 5px rgba(0,0,0,.09);
    -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,.09);
    max-width: 360px;
    margin: 0 auto;
}

.presentation-content-item {
    display: block;
    position: relative;
}

.presentation-content-item .preview {
    display: block;
    padding-bottom: 100%;
    overflow: hidden;
    position: relative;
}

.presentation-content-item .preview img {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    top: 0;
    width: 100%;
    height: auto;
    transition: all 1s linear;
    -webkit-transition: all 1s linear;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.home .presentation-content-item .preview img {
    transition: all 3s linear;
    -webkit-transition: all 3s linear;
}

.presentation-content-item .preview img:hover {
    top: 100%;
    transform: translate(-50%, -100%);
    -webkit-transform: translate(-50%, -100%);
}

.presentation-item-title {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.presentation-item-title:hover {
    color: #669B00;
}

.content-wrapper .element-item {
    margin-bottom: 50px;
}

/*---features---*/
.feature {
    padding: 30px;
}

.feature i {
    font-size: 80px;
}

.tt-bg.bottom {
    height: auto;
}

/*----FOOTER----*/

.footer {
    text-align: center;
    padding: 50px 0;
    background-color: #1f1e1e;
    color: #7A7A7A;
}

.copyright a {
    color: #659B00;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.copyright a:hover {
    color: #fff;
}

/*----MEDIA QUERIES-----*/

@media (max-width: 991px) {
    .simple-text h1, .simple-text .h1 {
        font-size: 35px;
        line-height: 42px;
    }

    .simple-text h2, .simple-text .h2 {
        font-size: 30px;
        line-height: 38px;
    }

    .simple-text h3, .simple-text .h3 {
        font-size: 24px;
        line-height: 30px;
    }

    .simple-text h4, .simple-text .h4 {
        font-size: 20px;
        line-height: 24px;
    }

    .simple-text .big {
        font-size: 16px;
        line-height: 20px;
    }

    .header {
        height: 70px;
        padding: 10px 0;
    }

    .hide-md {
        display: none;
    }

    .logo-img {
        height: 50px;
    }

    .header .button {
        margin-top: 7px;
        padding: 10px 35px;
    }

    .tt-bg {
        height: calc(110vh - 70px);
    }

    .mt-md-70 {
        height: 70px;
    }

    .welcome-text {
        margin-bottom: 30px;
    }

    .flex_center {
        display: block;
    }

    .content-wrapper .element-item {
        margin-bottom: 30px;
    }

    .text-center-md {
        text-align: center;
    }
}

@media (max-width: 767px) {
    .btn_isotop {
        padding: 10px 15px;
    }

    .feature {
        padding: 15px 30px;
    }

    .footer {
        padding: 30px 0;
    }

    .copyright a {
        display: inline-block;
        margin-top: 10px;
    }

    .content-wrapper .element-item {
        margin-bottom: 0;
    }
}

@media (max-width: 370px) {
    .header .button {
        padding: 10px 20px;
    }
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* CUSTOM MARGINS */
/*-------------------------------------------------------------------------------------------------------------------------------*/
.marg-lg-b0 {
    height: 0px;
}

.marg-lg-b5 {
    height: 5px;
}

.marg-lg-b10 {
    height: 10px;
}

.marg-lg-b15 {
    height: 15px;
}

.marg-lg-b20 {
    height: 20px;
}

.marg-lg-b25 {
    height: 25px;
}

.marg-lg-b30 {
    height: 30px;
}

.marg-lg-b35 {
    height: 35px;
}

.marg-lg-b40 {
    height: 40px;
}

.marg-lg-b45 {
    height: 45px;
}

.marg-lg-b50 {
    height: 50px;
}

.marg-lg-b55 {
    height: 55px;
}

.marg-lg-b60 {
    height: 60px;
}

.marg-lg-b65 {
    height: 65px;
}

.marg-lg-b70 {
    height: 70px;
}

.marg-lg-b75 {
    height: 75px;
}

.marg-lg-b80 {
    height: 80px;
}

.marg-lg-b85 {
    height: 85px;
}

.marg-lg-b90 {
    height: 90px;
}

.marg-lg-b95 {
    height: 95px;
}

.marg-lg-b100 {
    height: 100px;
}

.marg-lg-b105 {
    height: 105px;
}

.marg-lg-b110 {
    height: 110px;
}

.marg-lg-b115 {
    height: 115px;
}

.marg-lg-b120 {
    height: 120px;
}

.marg-lg-b125 {
    height: 125px;
}

.marg-lg-b130 {
    height: 130px;
}

.marg-lg-b135 {
    height: 135px;
}

.marg-lg-b140 {
    height: 140px;
}

.marg-lg-b145 {
    height: 145px;
}

.marg-lg-b150 {
    height: 150px;
}

.marg-lg-b155 {
    height: 155px;
}

.marg-lg-b160 {
    height: 160px;
}

.marg-lg-b165 {
    height: 165px;
}

.marg-lg-b170 {
    height: 170px;
}

.marg-lg-b175 {
    height: 175px;
}

.marg-lg-b180 {
    height: 180px;
}

.marg-lg-b185 {
    height: 185px;
}

.marg-lg-b190 {
    height: 190px;
}

.marg-lg-b195 {
    height: 195px;
}

.marg-lg-b200 {
    height: 200px;
}

@media (max-width: 1199px) {
    .marg-md-b0 {
        height: 0px;
    }

    .marg-md-b5 {
        height: 5px;
    }

    .marg-md-b10 {
        height: 10px;
    }

    .marg-md-b15 {
        height: 15px;
    }

    .marg-md-b20 {
        height: 20px;
    }

    .marg-md-b25 {
        height: 25px;
    }

    .marg-md-b30 {
        height: 30px;
    }

    .marg-md-b35 {
        height: 35px;
    }

    .marg-md-b40 {
        height: 40px;
    }

    .marg-md-b45 {
        height: 45px;
    }

    .marg-md-b50 {
        height: 50px;
    }

    .marg-md-b55 {
        height: 55px;
    }

    .marg-md-b60 {
        height: 60px;
    }

    .marg-md-b65 {
        height: 65px;
    }

    .marg-md-b70 {
        height: 70px;
    }

    .marg-md-b75 {
        height: 75px;
    }

    .marg-md-b80 {
        height: 80px;
    }

    .marg-md-b85 {
        height: 85px;
    }

    .marg-md-b90 {
        height: 90px;
    }

    .marg-md-b95 {
        height: 95px;
    }

    .marg-md-b100 {
        height: 100px;
    }

    .marg-md-b105 {
        height: 105px;
    }

    .marg-md-b110 {
        height: 110px;
    }

    .marg-md-b115 {
        height: 115px;
    }

    .marg-md-b120 {
        height: 120px;
    }

    .marg-md-b125 {
        height: 125px;
    }

    .marg-md-b130 {
        height: 130px;
    }

    .marg-md-b135 {
        height: 135px;
    }

    .marg-md-b140 {
        height: 140px;
    }

    .marg-md-b145 {
        height: 145px;
    }

    .marg-md-b150 {
        height: 150px;
    }

    .marg-md-b155 {
        height: 155px;
    }

    .marg-md-b160 {
        height: 160px;
    }

    .marg-md-b165 {
        height: 165px;
    }

    .marg-md-b170 {
        height: 170px;
    }

    .marg-md-b175 {
        height: 175px;
    }

    .marg-md-b180 {
        height: 180px;
    }

    .marg-md-b185 {
        height: 185px;
    }

    .marg-md-b190 {
        height: 190px;
    }

    .marg-md-b195 {
        height: 195px;
    }

    .marg-md-b200 {
        height: 200px;
    }
}

@media (max-width: 991px) {
    .marg-sm-b0 {
        height: 0px;
    }

    .marg-sm-b5 {
        height: 5px;
    }

    .marg-sm-b10 {
        height: 10px;
    }

    .marg-sm-b15 {
        height: 15px;
    }

    .marg-sm-b20 {
        height: 20px;
    }

    .marg-sm-b25 {
        height: 25px;
    }

    .marg-sm-b30 {
        height: 30px;
    }

    .marg-sm-b35 {
        height: 35px;
    }

    .marg-sm-b40 {
        height: 40px;
    }

    .marg-sm-b45 {
        height: 45px;
    }

    .marg-sm-b50 {
        height: 50px;
    }

    .marg-sm-b55 {
        height: 55px;
    }

    .marg-sm-b60 {
        height: 60px;
    }

    .marg-sm-b65 {
        height: 65px;
    }

    .marg-sm-b70 {
        height: 70px;
    }

    .marg-sm-b75 {
        height: 75px;
    }

    .marg-sm-b80 {
        height: 80px;
    }

    .marg-sm-b85 {
        height: 85px;
    }

    .marg-sm-b90 {
        height: 90px;
    }

    .marg-sm-b95 {
        height: 95px;
    }

    .marg-sm-b100 {
        height: 100px;
    }

    .marg-sm-b105 {
        height: 105px;
    }

    .marg-sm-b110 {
        height: 110px;
    }

    .marg-sm-b115 {
        height: 115px;
    }

    .marg-sm-b120 {
        height: 120px;
    }

    .marg-sm-b125 {
        height: 125px;
    }

    .marg-sm-b130 {
        height: 130px;
    }

    .marg-sm-b135 {
        height: 135px;
    }

    .marg-sm-b140 {
        height: 140px;
    }

    .marg-sm-b145 {
        height: 145px;
    }

    .marg-sm-b150 {
        height: 150px;
    }

    .marg-sm-b155 {
        height: 155px;
    }

    .marg-sm-b160 {
        height: 160px;
    }

    .marg-sm-b165 {
        height: 165px;
    }

    .marg-sm-b170 {
        height: 170px;
    }

    .marg-sm-b175 {
        height: 175px;
    }

    .marg-sm-b180 {
        height: 180px;
    }

    .marg-sm-b185 {
        height: 185px;
    }

    .marg-sm-b190 {
        height: 190px;
    }

    .marg-sm-b195 {
        height: 195px;
    }

    .marg-sm-b200 {
        height: 200px;
    }
}

@media (max-width: 767px) {
    .marg-xs-b0 {
        height: 0px;
    }

    .marg-xs-b5 {
        height: 5px;
    }

    .marg-xs-b10 {
        height: 10px;
    }

    .marg-xs-b15 {
        height: 15px;
    }

    .marg-xs-b20 {
        height: 20px;
    }

    .marg-xs-b25 {
        height: 25px;
    }

    .marg-xs-b30 {
        height: 30px;
    }

    .marg-xs-b35 {
        height: 35px;
    }

    .marg-xs-b40 {
        height: 40px;
    }

    .marg-xs-b45 {
        height: 45px;
    }

    .marg-xs-b50 {
        height: 50px;
    }

    .marg-xs-b55 {
        height: 55px;
    }

    .marg-xs-b60 {
        height: 60px;
    }

    .marg-xs-b65 {
        height: 65px;
    }

    .marg-xs-b70 {
        height: 70px;
    }

    .marg-xs-b75 {
        height: 75px;
    }

    .marg-xs-b80 {
        height: 80px;
    }

    .marg-xs-b85 {
        height: 85px;
    }

    .marg-xs-b90 {
        height: 90px;
    }

    .marg-xs-b95 {
        height: 95px;
    }

    .marg-xs-b100 {
        height: 100px;
    }

    .marg-xs-b105 {
        height: 105px;
    }

    .marg-xs-b110 {
        height: 110px;
    }

    .marg-xs-b115 {
        height: 115px;
    }

    .marg-xs-b120 {
        height: 120px;
    }

    .marg-xs-b125 {
        height: 125px;
    }

    .marg-xs-b130 {
        height: 130px;
    }

    .marg-xs-b135 {
        height: 135px;
    }

    .marg-xs-b140 {
        height: 140px;
    }

    .marg-xs-b145 {
        height: 145px;
    }

    .marg-xs-b150 {
        height: 150px;
    }

    .marg-xs-b155 {
        height: 155px;
    }

    .marg-xs-b160 {
        height: 160px;
    }

    .marg-xs-b165 {
        height: 165px;
    }

    .marg-xs-b170 {
        height: 170px;
    }

    .marg-xs-b175 {
        height: 175px;
    }

    .marg-xs-b180 {
        height: 180px;
    }

    .marg-xs-b185 {
        height: 185px;
    }

    .marg-xs-b190 {
        height: 190px;
    }

    .marg-xs-b195 {
        height: 195px;
    }

    .marg-xs-b200 {
        height: 200px;
    }
}